.heading {
  display: flex;
  padding: 24px;
}
.heading_flag {
  flex: 1;
  margin-right: 10px;
}
.heading_name,
.heading_population,
.heading_gini,
.heading_area {
  flex: 4;
  border: none;
  background-color: transparent;
  color: var(--text-color-secondary);
  outline: none;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading_name {
  justify-content: flex-start;
}
.heading_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.rows {
  display: flex;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 16px;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-light);
  border-radius: 8px;
  align-items: center;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}
.rows:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.rows_name {
  flex: 4;
  text-align: left;
}
.rows_population {
  flex: 4;
}
.rows_area {
  flex: 4;
}
.rows_gini {
  flex: 4;
}
.rows_flag {
  flex: 1;
  margin-right: 10px;
}

.flag img {
  border-radius: 10px;
}

@media screen and (max-width: 720px) {
  .rows_area,
  .heading_area {
    display: none;
  }
  .rows_gini,
  .heading_gini {
    display: none;
  }
  .rows_flag,
  .heading_flag {
    display: none;
  }
}
